<div id="education" class="animated fadeIn">
    <h3>Educational Background</h3>
    <ul class="edulist">
      <li>Engineering Design and Drafting Technology Diploma w/ Honours</li>
      <li>Emergency First Aid, Level A (St. John Ambulance) – Expires 2017</li>
      <li>H2S Alive – Expires 2018</li>
      <li>WHMIS – Expires 2015</li>
    </ul>
</div>