<div id="home" class="animated fadeIn">
     <div class="col-md-2"></div>
     <div class="col-md-4 navright">
        <h3 style="text-align: center; font-weight: 400;">Design</h3>
        <ul class="edulist">
            <li>3D Modeling using intelligent modeling software (CADWorx)</li>
            <li>Plant Layout, Equipment Layout, Piping Layout</li>
            <li>Fabricated Package Design</li>
            <li>Interference and/or clash detection checks</li>
            <li>Line study</li>
            <li>Navisworks publishing</li>
            <li>C2 file generation (for Caesar stress analysis)</li>
            <li>Facility As-builds (field sketches / redline markups)</li>
            <li>Bill of Material (BOM)</li>
        </ul>
    </div>
    
    <!-- <div class="col-md-2"></div> -->
    
    <div class="col-md-4 navright">
        <h3 style="text-align: center; font-weight: 400;">Drafting</h3>
        <ul class="edulist">
            <li>2D and 3D drafting</li>
            <li>P&ID</li>
            <li>PFD</li>
            <li>GA</li>
            <li>Isometric</li>
            <li>Plot plan</li>
            <li>Key plan</li>
            <li>Mechanical detail drawing</li>
            <li>Re-drafting native drawings</li>
            <li>Man hour estimates</li>
            <li>Checking</li>
        </ul>
    </div>
    <div class="col-md-2"></div>
</div>