<div class="details">
    <div class="container">
      <div class="row">
        <div id="summary" class="bump">
             <div class="col-md-1"></div>
             <div class="col-md-4 navright">
                <h3>Design</h3>
                <ul class="edulist">
                    <li>3D Modeling using intelligent modeling software (CADWorx)</li>
                    <li>Plant Layout, Equipment Layout, Piping Layout</li>
                    <li>Fabricated Package Design</li>
                    <li>Interference and/or clash detection checks</li>
                    <li>Line study</li>
                    <li>Navisworks publishing</li>
                    <li>C2 file generation (for Caesar stress analysis)</li>
                    <li>Facility As-builds (field sketches / redline markups)</li>
                    <li>Bill of Material (BOM)</li>
                </ul>
            </div>
            
            <div class="col-md-2"></div>
            
            <div class="col-md-4 navright">
                <h3>Drafting</h3>
                <ul class="edulist">
                    <li>3D Modeling using intelligent modeling software (CADWorx)</li>
                    <li>Plant Layout, Equipment Layout, Piping Layout</li>
                    <li>Fabricated Package Design</li>
                    <li>Interference and/or clash detection checks</li>
                    <li>Line study</li>
                    <li>Navisworks publishing</li>
                    <li>C2 file generation (for Caesar stress analysis)</li>
                    <li>Facility As-builds (field sketches / redline markups)</li>
                    <li>Bill of Material (BOM)</li>
                </ul>
            </div>
            <div class="col-md-1"></div>
        </div>
      </div>
    </div>
</div>