<div id="portfolio" class="animated fadeIn">
    <h3>Portfolio</h3>
    <p>The portfolio section is currently under development, and will showcase custom renders and animations of projects I've worked on. Check in again soon...</p>
</div>