<div id="software" class="animated fadeIn">
    <h3>Software Expertise</h3>
    <p>I'm an <span class="green">expert user</span> of <span class="green">CADWorx</span>, <span class="green">AutoCAD</span>, and <span class="green">Navisworks</span> software for design and drafting work.  I have also used <span class="green">Inventor</span> professionally for mechanical design.</p>
    <p>I have used <span class="green">Excel</span> and <span class="green">Word</span> for over fifteen years, and I'm a seasoned pro in the windows environment.</p>
    <p>I have college level training with <span class="green">Civil 3D</span> and <span class="green">Revit</span>, and I could easily pick up where I left off.  Autodesk software is all very similiar, allowing for quick learning and recall, kind of like riding a bike...</p><div style="clear: both;" class="bump"></div>
</div>