<div id="software" class="inactive bump">
    <h3>Software Expertise</h3>
    <p>I'm an <span class="green">expert user</span> of <span class="green">CADWorx</span>, <span class="green">AutoCAD</span>, and <span class="green">Navisworks</span> software for design and drafting work.  I have also used Inventor professionally for mechanical design.</p>
    <p>I have used Excel and Word for over fifteen years, and I'm a seasoned pro in the windows environment.</p>
    <p>I have college level training with Civil 3D and Revit, and I could easily pick up where I left off.  Autodesk software is all very similiar, allowing for quick learning and recall, kind of like riding a bike...</p>
</div>