<div id="summary" class="animated fadeIn">
    <h3>Personal Summary</h3>
    <div class="spacing">
        <p>I'm a Piping Designer located in Calgary, Alberta with experience designing gas plants and SAGD facilities, and MOC work for oil and gas pipelines, batteries, and related facilities. I have solid field experience as-building risers, well sites, oil batteries, and gas plants.  Have a look through my <%= link_to "projects", projects_path, :id => "pro" %> experience for more details.</p> 
    </div>
    <div class="spacing">
        <p>I hold an Engineering Design and Drafting Technology Diploma with Honours, and I have previous training in purchasing and operations management with PMAC and APICS.  I'm also a web design hobbiest, self-trained in order to launch my website and learn new skills.</p>
    </div>
    <div class="spacing">
        <p>As a Piping Designer my experience has seen me in leadership roles, running small projects independantly, or as an area lead on larger scale projects.  Quality, speed, and consistency are top priority with drafting, and my designs are customer focused on safety, operability, and cost.  I am actively contracting, and open to short-term and long-term contracts, as well as permanent full-time employment.  If you are looking for a hard working, skilled piping designer for your next project, you've come to the right place!  <%= link_to "Contact me!", new_contact_path, :id => "con" %></p>
    </div><div style="clear: both;" class="bump"></div>
</div>