<div id="summary" class="inactive bump">
    <h3>Personal Summary</h3>
    <p>I'm a Piping Designer located in Calgary, Alberta with experience designing gas plants and SAGD facilities, and MOC work for oil and gas pipelines, batteries, and related facilities. I have solid field experience as-building risers, oil batteries, and gas plants.</p> 
    <p>I hold an Engineering Design and Drafting Technology Diploma with Honours, and I have previous training in purchasing and operations management with PMAC and APICS.  I'm also a web design hobbiest, self-trained in order to launch my website and learn new skills.</p>
    <p>As a Piping Designer my experience has seen me in lead roles running small projects independantly, or as an area lead on larger scale projects.  I also work as a contractor handling drafting and design needs as they arise.  Have a look through my project experience for more details.</p>
</div>